In [112]:
import numpy as np
import pandas as pd
data = pd.read_csv('Documents/columbia/APAN005/PAC PROJECT/analysis_data.csv')

In [113]:
data.columns

Index(['customer_id', 'age', 'gender', 'marital_status', 'education_level',
       'region', 'employment_status', 'owns_home', 'has_auto_loan',
       'annual_income', 'credit_score', 'credit_limit', 'tenure', 'card_type',
       'num_transactions', 'avg_transaction_value', 'online_shopping_freq',
       'reward_points_balance', 'travel_frequency', 'utility_payment_count',
       'num_children', 'num_credit_cards', 'monthly_spend'],
      dtype='object')

In [114]:
data.describe()

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,online_shopping_freq,reward_points_balance,travel_frequency,utility_payment_count,num_children,num_credit_cards,monthly_spend
count,4.000000e+04,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,37992.000000,40000.000000,40000.000000,39202.000000,40000.000000,40000.00000,40000.000000
mean,5.516258e+07,49.063900,0.502825,0.502925,62466.009961,699.878580,14573.193459,9.514575,11.275000,37.433152,8.111866,7250.912784,2.870675,3.250446,1.109100,7.98765,1666.201508
std,2.595662e+07,18.175343,0.499998,0.499998,49656.884438,50.247404,11791.285872,5.780889,6.038422,20.037322,3.809252,4975.085861,2.258988,2.061360,1.152771,0.19621,537.303898
min,1.000088e+07,18.000000,0.000000,0.000000,2277.888686,470.895415,461.048761,0.000000,0.000000,4.417843,0.000000,571.531405,0.000000,0.000000,0.000000,1.00000,99.080000
25%,3.261957e+07,33.000000,0.000000,0.000000,30478.024000,665.682600,7007.302229,5.000000,7.000000,23.612979,5.000000,4053.616363,1.000000,2.000000,0.000000,8.00000,1309.502500
50%,5.541669e+07,49.000000,1.000000,1.000000,48800.257192,700.208341,11281.194224,10.000000,10.000000,32.983460,8.000000,5894.362787,2.000000,3.000000,1.000000,8.00000,1609.915000
75%,7.758322e+07,65.000000,1.000000,1.000000,78217.444607,733.811768,18282.105567,15.000000,14.000000,46.329229,10.000000,8827.159632,4.000000,4.000000,2.000000,8.00000,1953.395000
max,9.999871e+07,80.000000,1.000000,1.000000,720441.690363,850.000000,191517.788605,19.000000,80.000000,240.927091,45.000000,73100.957960,29.000000,20.000000,6.000000,8.00000,8924.360000

In [115]:
#Check for NaNs

In [116]:
data.isnull().sum()

customer_id                 0
age                         0
gender                      0
marital_status              0
education_level          1199
region                      0
employment_status           0
owns_home                   0
has_auto_loan               0
annual_income               0
credit_score                0
credit_limit                0
tenure                      0
card_type                   0
num_transactions            0
avg_transaction_value       0
online_shopping_freq     2008
reward_points_balance       0
travel_frequency            0
utility_payment_count     798
num_children                0
num_credit_cards            0
monthly_spend               0
dtype: int64

In [117]:
#Remove NaNs with function below

In [118]:
data = data.fillna(0) # replace NaNs to 0

In [119]:
#Confirm NaNs were replaced to 0

In [120]:
data.isnull().sum()

customer_id              0
age                      0
gender                   0
marital_status           0
education_level          0
region                   0
employment_status        0
owns_home                0
has_auto_loan            0
annual_income            0
credit_score             0
credit_limit             0
tenure                   0
card_type                0
num_transactions         0
avg_transaction_value    0
online_shopping_freq     0
reward_points_balance    0
travel_frequency         0
utility_payment_count    0
num_children             0
num_credit_cards         0
monthly_spend            0
dtype: int64

In [121]:
data.dtypes

customer_id                int64
age                        int64
gender                    object
marital_status            object
education_level           object
region                    object
employment_status         object
owns_home                  int64
has_auto_loan              int64
annual_income            float64
credit_score             float64
credit_limit             float64
tenure                     int64
card_type                 object
num_transactions           int64
avg_transaction_value    float64
online_shopping_freq     float64
reward_points_balance    float64
travel_frequency           int64
utility_payment_count    float64
num_children               int64
num_credit_cards           int64
monthly_spend            float64
dtype: object

In [122]:
y = data.monthly_spend
X = data.drop('monthly_spend', axis=1)

In [123]:
X

,customer_id,age,gender,marital_status,education_level,region,employment_status,owns_home,has_auto_loan,annual_income,...,tenure,card_type,num_transactions,avg_transaction_value,online_shopping_freq,reward_points_balance,travel_frequency,utility_payment_count,num_children,num_credit_cards
0,75570383,77,female,married,high school,northeast,unemployed,1,0,56000.116893,...,4,standard,14,46.144967,8.0,6325.578928,3,3.0,1,8
1,77915507,52,male,married,high school,south,unemployed,1,1,39432.589311,...,18,gold,13,88.532219,7.0,5586.814175,1,1.0,2,8
2,31958910,48,female,married,bachelors,west,unemployed,1,1,51020.949673,...,16,standard,9,78.304445,4.0,6250.225115,3,2.0,0,8
3,76868487,67,female,married,high school,northeast,unemployed,1,0,76794.566399,...,2,standard,10,54.932667,7.0,8875.409103,3,3.0,2,8
4,69435006,21,female,single,bachelors,west,self-employed,1,1,44386.444631,...,6,standard,8,18.866712,6.0,5318.021523,4,3.0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,61684274,76,female,married,bachelors,northeast,unemployed,1,0,24416.053251,...,7,standard,12,20.020860,6.0,3566.432517,3,1.0,2,8
39996,79543996,35,female,single,bachelors,northeast,student,1,0,117569.490084,...,15,gold,18,23.743410,9.0,13504.349780,2,4.0,0,8
39997,70938074,70,male,married,high school,west,unemployed,1,1,54612.784494,...,6,standard,12,71.729568,6.0,6598.036278,0,4.0,1,8
39998,87140605,59,female,married,bachelors,west,unemployed,1,1,25765.665770,...,14,standard,11,36.541350,4.0,3963.839009,1,2.0,1,8
39999,21453761,55,female,married,bachelors,midwest,self-employed,0,1,112745.368483,...,15,standard,15,23.729819,10.0,12715.346145,4,3.0,1,8

In [124]:
#Convert Data Types 'Object' to 'Values'

In [125]:
categorical_features = ['gender','marital_status','education_level','region','employment_status','card_type']

X = pd.get_dummies(X, 
                         prefix_sep = '_', 
                         columns = categorical_features, 
                         drop_first = True)

X.reindex(columns=X.columns, fill_value=0)
X.head()

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,...,education_level_graduate,education_level_high school,region_northeast,region_south,region_west,employment_status_self-employed,employment_status_student,employment_status_unemployed,card_type_platinum,card_type_standard
0,75570383,77,1,0,56000.116893,636.767610,10530.389617,4,14,46.144967,...,False,True,True,False,False,False,False,True,False,True
1,77915507,52,1,1,39432.589311,739.726869,8509.061360,18,13,88.532219,...,False,True,False,True,False,False,False,True,False,False
2,31958910,48,1,1,51020.949673,650.995903,12462.743330,16,9,78.304445,...,False,False,False,False,True,False,False,True,False,True
3,76868487,67,1,0,76794.566399,612.779395,17750.953577,2,10,54.932667,...,False,True,True,False,False,False,False,True,False,True
4,69435006,21,1,1,44386.444631,714.429605,9861.651561,6,8,18.866712,...,False,False,False,False,True,True,False,False,False,True

In [126]:
len(X.columns)

29

In [127]:
X

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,...,education_level_graduate,education_level_high school,region_northeast,region_south,region_west,employment_status_self-employed,employment_status_student,employment_status_unemployed,card_type_platinum,card_type_standard
0,75570383,77,1,0,56000.116893,636.767610,10530.389617,4,14,46.144967,...,False,True,True,False,False,False,False,True,False,True
1,77915507,52,1,1,39432.589311,739.726869,8509.061360,18,13,88.532219,...,False,True,False,True,False,False,False,True,False,False
2,31958910,48,1,1,51020.949673,650.995903,12462.743330,16,9,78.304445,...,False,False,False,False,True,False,False,True,False,True
3,76868487,67,1,0,76794.566399,612.779395,17750.953577,2,10,54.932667,...,False,True,True,False,False,False,False,True,False,True
4,69435006,21,1,1,44386.444631,714.429605,9861.651561,6,8,18.866712,...,False,False,False,False,True,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,61684274,76,1,0,24416.053251,686.500318,5355.597132,7,12,20.020860,...,False,False,True,False,False,False,False,True,False,True
39996,79543996,35,1,0,117569.490084,702.190453,29428.045725,15,18,23.743410,...,False,False,True,False,False,False,True,False,False,False
39997,70938074,70,1,1,54612.784494,640.175292,13145.734964,6,12,71.729568,...,False,True,False,False,True,False,False,True,False,True
39998,87140605,59,1,1,25765.665770,704.778891,5561.762833,14,11,36.541350,...,False,False,False,False,True,False,False,True,False,True
39999,21453761,55,0,1,112745.368483,637.555847,23847.681509,15,15,23.729819,...,False,False,False,False,False,True,False,False,False,True

In [128]:
#PCA

In [129]:
# Scaling
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
scale.fit(X)
X_scaled = scale.transform(X)

In [131]:
pd.DataFrame(X_scaled)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,0.786237,1.537052,0.994366,-1.005867,-0.130213,-1.256020,-0.342868,-0.953944,0.451283,0.434785,...,-0.491038,2.017989,1.729860,-0.579236,-0.574540,-0.580853,-0.573386,1.738658,-0.331014,0.818710
1,0.876586,0.161545,0.994366,0.994167,-0.463857,0.793052,-0.514296,1.467859,0.285674,2.550226,...,-0.491038,2.017989,-0.578082,1.726411,-0.574540,-0.580853,-0.573386,1.738658,-0.331014,-1.221434
2,-0.893951,-0.058536,0.994366,0.994167,-0.230486,-0.972852,-0.178986,1.121887,-0.376759,2.039784,...,-0.491038,-0.495543,-0.578082,-0.579236,1.740521,-0.580853,-0.573386,1.738658,-0.331014,0.818710
3,0.836248,0.986849,0.994366,-1.005867,0.288555,-1.733428,0.269504,-1.299916,-0.211151,0.873357,...,-0.491038,2.017989,1.729860,-0.579236,-0.574540,-0.580853,-0.573386,1.738658,-0.331014,0.818710
4,0.549864,-1.544084,0.994366,0.994167,-0.364094,0.289591,-0.399583,-0.607972,-0.542367,-0.926604,...,-0.491038,-0.495543,-0.578082,-0.579236,1.740521,1.721606,-0.573386,-0.575156,-0.331014,0.818710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,0.251257,1.482032,0.994366,-1.005867,-0.766267,-0.266251,-0.781739,-0.434986,0.120066,-0.869004,...,-0.491038,-0.495543,1.729860,-0.579236,-0.574540,-0.580853,-0.573386,1.738658,-0.331014,0.818710
39996,0.939326,-0.773800,0.994366,-1.005867,1.109698,0.046010,1.259832,0.948901,1.113716,-0.683221,...,-0.491038,-0.495543,1.729860,-0.579236,-0.574540,-0.580853,1.744027,-0.575156,-0.331014,-1.221434
39997,0.607772,1.151910,0.994366,0.994167,-0.158152,-1.188201,-0.121062,-0.607972,0.120066,1.711648,...,-0.491038,2.017989,-0.578082,-0.579236,1.740521,-0.580853,-0.573386,1.738658,-0.331014,0.818710
39998,1.231995,0.546687,0.994366,0.994167,-0.739088,0.097525,-0.764254,0.775915,-0.045542,-0.044508,...,-0.491038,-0.495543,-0.578082,-0.579236,1.740521,-0.580853,-0.573386,1.738658,-0.331014,0.818710
39999,-1.298676,0.326606,-1.005666,0.994167,1.012548,-1.240333,0.786564,0.948901,0.616891,-0.683899,...,-0.491038,-0.495543,-0.578082,-0.579236,-0.574540,1.721606,-0.573386,-0.575156,-0.331014,0.818710

In [172]:
# Dimensionality Reduction
from sklearn.decomposition import PCA
pca = PCA(n_components=22)
pca.fit(X_scaled, y)
X_train_pc = pca.transform(X_scaled)
X_train_pc

array([[-0.46603402, -0.22611267, -2.2819093 , ...,  0.07440421,
        -0.11508748,  0.15005301],
       [-0.69830765,  0.36736119, -1.65401272, ..., -0.47143891,
        -0.94926185, -0.37032678],
       [-1.09246132, -0.8687985 ,  0.72480765, ...,  0.0246184 ,
        -0.05683767, -0.73424939],
       ...,
       [-0.89196097, -0.08727285, -2.03694523, ...,  0.67616281,
        -1.0130572 , -0.02351387],
       [-1.81817466, -1.38271738,  0.35230566, ...,  0.38856179,
        -0.43585525, -0.31654755],
       [ 1.32653262, -1.29692532,  0.32385979, ..., -0.08825131,
        -0.26933222, -0.17760493]])

In [173]:
X_train_pc.shape

(40000, 22)

In [174]:
import numpy as np
np.sum(pca.explained_variance_ratio_)

np.float64(0.9593043409936572)

In [175]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train_pc, y)
pred_train = reg.predict(X_train_pc)

In [176]:
pd.DataFrame(X_train_pc)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,-0.466034,-0.226113,-2.281909,-1.268615,-0.075451,1.836835,1.774115,0.305882,-1.661004,-1.599954,...,-0.217963,0.629757,0.415158,-1.085556,-0.817574,-0.073956,-0.089603,0.074404,-0.115087,0.150053
1,-0.698308,0.367361,-1.654013,1.564008,-0.876886,1.957831,-1.521754,-0.190766,-1.872724,2.019307,...,0.263565,0.650269,2.543429,-0.827692,0.232131,-0.783231,0.358738,-0.471439,-0.949262,-0.370327
2,-1.092461,-0.868799,0.724808,-0.841494,-0.367389,0.300340,-0.265514,2.551255,-0.194462,1.505900,...,-1.521886,1.327109,0.921381,-0.188618,-0.994242,-0.278015,-0.849984,0.024618,-0.056838,-0.734249
3,-0.167488,-0.196531,-2.253600,-1.616333,-0.488855,1.835978,1.826577,0.371695,-1.696901,-1.664202,...,-0.216832,0.306140,0.700201,-1.250134,0.097390,-0.113523,-0.350947,0.072745,-0.224488,-0.003392
4,-0.934244,1.207687,2.350922,-0.197547,-1.309321,-2.269730,0.040378,0.868785,-0.196054,-0.824863,...,-0.240614,-0.044594,-0.375160,0.688529,-0.646679,0.116881,-0.384632,-0.178117,0.797513,-0.196163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,-1.550957,-2.021924,-0.254689,-0.189358,-0.366622,1.889496,1.710586,0.310962,0.112257,-1.458679,...,-0.358112,0.788536,-0.684179,-0.596684,-0.089954,-0.721048,-0.450548,0.013741,0.160111,0.234359
39996,2.145692,1.294168,2.345173,-0.115728,1.627617,0.338005,1.583633,-0.654142,0.171073,-1.045856,...,-0.041388,1.783280,0.048655,-0.285075,0.373182,0.148503,0.265825,-0.610343,-1.583396,0.234023
39997,-0.891961,-0.087273,-2.036945,-0.938364,-0.257994,0.394569,-0.161624,2.459138,-1.915655,0.885331,...,0.326914,-0.777899,1.562455,-1.019276,-0.902620,0.635530,0.083138,0.676163,-1.013057,-0.023514
39998,-1.818175,-1.382717,0.352306,0.247089,-0.415687,0.401045,-0.239633,2.472291,-0.143437,-0.164895,...,-0.047787,1.116950,0.897183,0.704998,-0.542254,-0.042231,-0.403039,0.388562,-0.435855,-0.316548
39999,1.326533,-1.296925,0.323860,-1.935864,-0.847237,-1.355702,0.230312,-0.721480,0.014334,0.788768,...,-0.856043,0.510901,-0.989566,1.773772,-0.535281,-0.556948,-0.026592,-0.088251,-0.269332,-0.177605

In [177]:
from sklearn.metrics import root_mean_squared_error
train_pred = reg.predict(X_train_pc)
rmse = root_mean_squared_error(y, train_pred)
rmse

259.4256880527634

In [147]:
# Test the model on new unseen data.
scoring_data = pd.read_csv('Documents/columbia/APAN005/PAC PROJECT/scoring_data.csv')
scoring_data_X = scoring_data

In [148]:
scoring_data.isnull().sum()

customer_id                0
age                        0
gender                     0
marital_status             0
education_level          301
region                     0
employment_status          0
owns_home                  0
has_auto_loan              0
annual_income              0
credit_score               0
credit_limit               0
tenure                     0
card_type                  0
num_transactions           0
avg_transaction_value      0
online_shopping_freq     492
reward_points_balance      0
travel_frequency           0
utility_payment_count    202
num_children               0
num_credit_cards           0
dtype: int64

In [149]:
scoring_data = scoring_data.fillna(0)

In [150]:
scoring_data.isnull().sum()

customer_id              0
age                      0
gender                   0
marital_status           0
education_level          0
region                   0
employment_status        0
owns_home                0
has_auto_loan            0
annual_income            0
credit_score             0
credit_limit             0
tenure                   0
card_type                0
num_transactions         0
avg_transaction_value    0
online_shopping_freq     0
reward_points_balance    0
travel_frequency         0
utility_payment_count    0
num_children             0
num_credit_cards         0
dtype: int64

In [151]:
scoring_data.dtypes

customer_id                int64
age                        int64
gender                    object
marital_status            object
education_level           object
region                    object
employment_status         object
owns_home                  int64
has_auto_loan              int64
annual_income            float64
credit_score             float64
credit_limit             float64
tenure                     int64
card_type                 object
num_transactions           int64
avg_transaction_value    float64
online_shopping_freq     float64
reward_points_balance    float64
travel_frequency           int64
utility_payment_count    float64
num_children               int64
num_credit_cards           int64
dtype: object

In [152]:
scoring_data_X = scoring_data

In [153]:
categorical_features = ['gender','marital_status','education_level','region','employment_status','card_type']

scoring_data_X = pd.get_dummies(scoring_data_X, 
                         prefix_sep = '_', 
                         columns = categorical_features, 
                         drop_first = True)

scoring_data_X.reindex(columns=scoring_data_X.columns, fill_value=0)
scoring_data_X.head()

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,...,education_level_graduate,education_level_high school,region_northeast,region_south,region_west,employment_status_self-employed,employment_status_student,employment_status_unemployed,card_type_platinum,card_type_standard
0,20451981,68,1,0,28736.958529,644.592407,6295.525826,17,6,32.444032,...,False,False,False,False,True,True,False,False,False,True
1,23251656,37,0,1,177014.762457,683.032163,39234.812959,14,17,30.655429,...,False,True,True,False,False,False,True,False,True,False
2,64082260,65,0,0,51625.522861,692.072705,10842.809736,1,9,36.063881,...,False,False,True,False,False,True,False,False,False,True
3,82505923,33,0,1,62667.564975,735.600403,14833.580687,2,12,28.833727,...,False,False,True,False,False,True,False,False,False,False
4,89981994,23,1,0,84996.492293,732.301374,21540.005940,7,15,12.361809,...,False,False,False,False,False,True,False,False,False,False

In [154]:
# Scale test data.
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
scale.fit(scoring_data_X)
scoring_data_X_scaled = scale.transform(scoring_data_X)

In [157]:
# Test the model on new unseen data.
scoring_data = pd.read_csv('Documents/columbia/APAN005/PAC PROJECT/scoring_data.csv')
from sklearn.decomposition import PCA
pca = PCA(n_components=29)
pca.fit(scoring_data_X_scaled, y)
X_train_pc_2 = pca.transform(scoring_data_X_scaled)
X_train_pc_2

array([[-1.37105823e+00,  8.04506808e-02, -1.70536075e+00, ...,
         1.32434464e-02,  1.26524375e-02, -6.69114481e-02],
       [ 5.72333783e+00, -1.40212044e+00,  9.44416727e-01, ...,
         8.24401440e-02, -1.41781530e-01, -5.25680585e-03],
       [-9.37133658e-01,  5.76160527e-01, -1.30218775e+00, ...,
         3.79182881e-02, -3.91587623e-02,  7.64217977e-02],
       ...,
       [-1.30202860e+00,  6.48898680e-01, -1.43372207e+00, ...,
         4.56835166e-02,  1.86724510e-03,  7.64329208e-02],
       [ 1.26305646e+00, -6.15252137e-03,  2.78477807e+00, ...,
         4.97768628e-02, -1.59796320e-02,  2.19263393e-05],
       [-6.43544297e-01,  4.26709150e-01, -1.17684018e+00, ...,
         1.99398798e-02,  7.76440887e-02,  8.16198713e-02]])

In [158]:
test_pred = reg.predict(X_train_pc_2)

In [159]:
submission_file = pd.DataFrame({'customer_id': scoring_data.customer_id, 'monthly_spend': test_pred})
submission_file.to_csv('submission_file_14.csv',index = False)