In [64]:
import numpy as np
import pandas as pd
data = pd.read_csv('Documents/columbia/APAN005/PAC PROJECT/analysis_data.csv')

In [65]:
data.columns

Index(['customer_id', 'age', 'gender', 'marital_status', 'education_level',
       'region', 'employment_status', 'owns_home', 'has_auto_loan',
       'annual_income', 'credit_score', 'credit_limit', 'tenure', 'card_type',
       'num_transactions', 'avg_transaction_value', 'online_shopping_freq',
       'reward_points_balance', 'travel_frequency', 'utility_payment_count',
       'num_children', 'num_credit_cards', 'monthly_spend'],
      dtype='object')

In [66]:
data.describe()

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,online_shopping_freq,reward_points_balance,travel_frequency,utility_payment_count,num_children,num_credit_cards,monthly_spend
count,4.000000e+04,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,37992.000000,40000.000000,40000.000000,39202.000000,40000.000000,40000.00000,40000.000000
mean,5.516258e+07,49.063900,0.502825,0.502925,62466.009961,699.878580,14573.193459,9.514575,11.275000,37.433152,8.111866,7250.912784,2.870675,3.250446,1.109100,7.98765,1666.201508
std,2.595662e+07,18.175343,0.499998,0.499998,49656.884438,50.247404,11791.285872,5.780889,6.038422,20.037322,3.809252,4975.085861,2.258988,2.061360,1.152771,0.19621,537.303898
min,1.000088e+07,18.000000,0.000000,0.000000,2277.888686,470.895415,461.048761,0.000000,0.000000,4.417843,0.000000,571.531405,0.000000,0.000000,0.000000,1.00000,99.080000
25%,3.261957e+07,33.000000,0.000000,0.000000,30478.024000,665.682600,7007.302229,5.000000,7.000000,23.612979,5.000000,4053.616363,1.000000,2.000000,0.000000,8.00000,1309.502500
50%,5.541669e+07,49.000000,1.000000,1.000000,48800.257192,700.208341,11281.194224,10.000000,10.000000,32.983460,8.000000,5894.362787,2.000000,3.000000,1.000000,8.00000,1609.915000
75%,7.758322e+07,65.000000,1.000000,1.000000,78217.444607,733.811768,18282.105567,15.000000,14.000000,46.329229,10.000000,8827.159632,4.000000,4.000000,2.000000,8.00000,1953.395000
max,9.999871e+07,80.000000,1.000000,1.000000,720441.690363,850.000000,191517.788605,19.000000,80.000000,240.927091,45.000000,73100.957960,29.000000,20.000000,6.000000,8.00000,8924.360000

In [67]:
#Check for NaNs

In [68]:
data.isnull().sum()

customer_id                 0
age                         0
gender                      0
marital_status              0
education_level          1199
region                      0
employment_status           0
owns_home                   0
has_auto_loan               0
annual_income               0
credit_score                0
credit_limit                0
tenure                      0
card_type                   0
num_transactions            0
avg_transaction_value       0
online_shopping_freq     2008
reward_points_balance       0
travel_frequency            0
utility_payment_count     798
num_children                0
num_credit_cards            0
monthly_spend               0
dtype: int64

In [69]:
#Remove NaNs with function below

In [70]:
data = data.fillna(0) # replace NaNs to 0

In [71]:
#Confirm NaNs were replaced to 0

In [72]:
data.isnull().sum()

customer_id              0
age                      0
gender                   0
marital_status           0
education_level          0
region                   0
employment_status        0
owns_home                0
has_auto_loan            0
annual_income            0
credit_score             0
credit_limit             0
tenure                   0
card_type                0
num_transactions         0
avg_transaction_value    0
online_shopping_freq     0
reward_points_balance    0
travel_frequency         0
utility_payment_count    0
num_children             0
num_credit_cards         0
monthly_spend            0
dtype: int64

In [73]:
data.dtypes

customer_id                int64
age                        int64
gender                    object
marital_status            object
education_level           object
region                    object
employment_status         object
owns_home                  int64
has_auto_loan              int64
annual_income            float64
credit_score             float64
credit_limit             float64
tenure                     int64
card_type                 object
num_transactions           int64
avg_transaction_value    float64
online_shopping_freq     float64
reward_points_balance    float64
travel_frequency           int64
utility_payment_count    float64
num_children               int64
num_credit_cards           int64
monthly_spend            float64
dtype: object

In [74]:
y = data.monthly_spend
X = data.drop('monthly_spend', axis=1)

In [75]:
X

,customer_id,age,gender,marital_status,education_level,region,employment_status,owns_home,has_auto_loan,annual_income,...,tenure,card_type,num_transactions,avg_transaction_value,online_shopping_freq,reward_points_balance,travel_frequency,utility_payment_count,num_children,num_credit_cards
0,75570383,77,female,married,high school,northeast,unemployed,1,0,56000.116893,...,4,standard,14,46.144967,8.0,6325.578928,3,3.0,1,8
1,77915507,52,male,married,high school,south,unemployed,1,1,39432.589311,...,18,gold,13,88.532219,7.0,5586.814175,1,1.0,2,8
2,31958910,48,female,married,bachelors,west,unemployed,1,1,51020.949673,...,16,standard,9,78.304445,4.0,6250.225115,3,2.0,0,8
3,76868487,67,female,married,high school,northeast,unemployed,1,0,76794.566399,...,2,standard,10,54.932667,7.0,8875.409103,3,3.0,2,8
4,69435006,21,female,single,bachelors,west,self-employed,1,1,44386.444631,...,6,standard,8,18.866712,6.0,5318.021523,4,3.0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,61684274,76,female,married,bachelors,northeast,unemployed,1,0,24416.053251,...,7,standard,12,20.020860,6.0,3566.432517,3,1.0,2,8
39996,79543996,35,female,single,bachelors,northeast,student,1,0,117569.490084,...,15,gold,18,23.743410,9.0,13504.349780,2,4.0,0,8
39997,70938074,70,male,married,high school,west,unemployed,1,1,54612.784494,...,6,standard,12,71.729568,6.0,6598.036278,0,4.0,1,8
39998,87140605,59,female,married,bachelors,west,unemployed,1,1,25765.665770,...,14,standard,11,36.541350,4.0,3963.839009,1,2.0,1,8
39999,21453761,55,female,married,bachelors,midwest,self-employed,0,1,112745.368483,...,15,standard,15,23.729819,10.0,12715.346145,4,3.0,1,8

In [76]:
#Convert Data Types 'Object' to 'Values'

In [77]:
categorical_features = ['gender','marital_status','education_level','region','employment_status','card_type']

X = pd.get_dummies(X, 
                         prefix_sep = '_', 
                         columns = categorical_features, 
                         drop_first = True)

X.reindex(columns=X.columns, fill_value=0)
X.head()

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,...,education_level_graduate,education_level_high school,region_northeast,region_south,region_west,employment_status_self-employed,employment_status_student,employment_status_unemployed,card_type_platinum,card_type_standard
0,75570383,77,1,0,56000.116893,636.767610,10530.389617,4,14,46.144967,...,False,True,True,False,False,False,False,True,False,True
1,77915507,52,1,1,39432.589311,739.726869,8509.061360,18,13,88.532219,...,False,True,False,True,False,False,False,True,False,False
2,31958910,48,1,1,51020.949673,650.995903,12462.743330,16,9,78.304445,...,False,False,False,False,True,False,False,True,False,True
3,76868487,67,1,0,76794.566399,612.779395,17750.953577,2,10,54.932667,...,False,True,True,False,False,False,False,True,False,True
4,69435006,21,1,1,44386.444631,714.429605,9861.651561,6,8,18.866712,...,False,False,False,False,True,True,False,False,False,True

In [78]:
len(X.columns)

29

In [79]:
#PCA

In [111]:
from sklearn.decomposition import PCA
pca = PCA(n_components=29)
pca.fit(X, y)
X_train_pc = pca.transform(X)
X_train_pc

array([[ 2.04078056e+07, -7.26317209e+03, -2.46616726e+03, ...,
         1.56823833e-01,  2.03982647e-02,  4.70531062e-02],
       [ 2.27529296e+07, -2.38491722e+04, -6.90045993e+02, ...,
         1.02812730e-01,  2.34436899e-03,  6.58864464e-02],
       [-2.32036674e+07, -1.16765187e+04,  5.45868300e+02, ...,
         1.52545453e-01,  1.57053731e-02,  6.68878431e-03],
       ...,
       [ 1.57754966e+07, -7.99175464e+03,  3.88006468e+02, ...,
         1.77011111e-01,  1.86255647e-02,  2.78472743e-02],
       [ 3.19780276e+07, -3.79161976e+04, -4.50759480e+02, ...,
         1.70705006e-01,  2.65592858e-02,  6.34746110e-04],
       [-3.37088164e+07,  5.13476027e+04, -2.39831347e+03, ...,
        -2.37368721e-01, -1.39671789e-02, -4.42691112e-03]])

In [112]:
X_train_pc.shape

(40000, 29)

In [113]:
import numpy as np
np.sum(pca.explained_variance_ratio_)

np.float64(1.0)

In [91]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train_pc, y)
pred_train = reg.predict(X_train_pc)

In [92]:
pd.DataFrame(X_train_pc)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,2.040781e+07,-7263.172091,-2466.167261,-277.523287,-38.219145,7.101588,28.557890,-5.514117,3.422520,0.380106,...,-0.007921,-0.590571,1.402005,0.259260,-0.017011,0.158273,-0.003152,0.156824,0.020398,0.047053
1,2.275293e+07,-23849.172173,-690.045993,636.997498,46.531003,51.006989,6.417653,8.474602,4.145559,0.247246,...,-0.165010,-0.317973,1.175719,0.218714,-0.523994,-0.064141,0.000007,0.102813,0.002344,0.065886
2,-2.320367e+07,-11676.518653,545.868300,142.383941,-54.111737,40.917027,1.428823,6.409107,-1.254179,-3.026798,...,-0.267307,-0.517870,0.048137,0.021428,0.024859,-0.347548,0.027449,0.152545,0.015705,0.006689
3,2.170591e+07,14772.630335,-170.441091,191.446096,-85.625880,16.695866,18.919797,-7.546723,-2.721031,-1.280620,...,-0.007083,-0.510024,1.509710,0.397861,-0.111420,0.129192,-0.012188,0.131446,0.006180,0.051738
4,1.427243e+07,-18771.079135,-479.670947,-123.718341,19.248219,-16.639581,-29.076209,-3.441539,-1.532366,-0.711348,...,-0.027628,-0.318128,-0.502022,-0.454058,0.423678,0.244706,0.007095,0.195037,0.015494,-0.030721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,6.521697e+06,-39319.378078,-334.469541,120.415806,-10.277600,-18.992358,25.802892,-2.532460,4.570821,-0.195870,...,-0.010032,-0.458504,0.554508,0.411250,0.127304,0.222905,-0.021286,0.181123,0.031586,0.022750
39996,2.438142e+07,57384.571197,1924.054814,740.894450,-17.632546,-12.484800,-15.159651,5.491875,1.147331,-1.450006,...,0.157939,0.659542,0.353226,0.245508,-0.413387,0.562110,-0.013764,0.097949,-0.023220,-0.005854
39997,1.577550e+07,-7991.754637,388.006468,132.740316,-63.845429,33.155588,23.083978,-3.546163,1.530713,-1.445276,...,0.346370,-0.579767,0.671103,-0.288080,-0.005086,0.045761,0.007768,0.177011,0.018626,0.027847
39998,3.197803e+07,-37916.197583,-450.759480,382.648579,8.892992,-1.218498,10.017216,4.518705,3.359742,-2.133447,...,-0.274711,-0.450294,0.031344,0.006136,0.248841,-0.118780,0.003161,0.170705,0.026559,0.000635
39999,-3.370882e+07,51347.602743,-2398.313467,431.215562,-37.515644,-14.024897,4.647133,5.383411,-1.376738,-0.078331,...,-0.693424,-0.266440,-0.379294,-0.202535,0.230360,-0.164029,-0.414551,-0.237369,-0.013967,-0.004427

In [93]:
from sklearn.metrics import root_mean_squared_error
train_pred = reg.predict(X_train_pc)
rmse = root_mean_squared_error(y, train_pred)
rmse

257.5666974691377

In [94]:
# Test the model on new unseen data.
scoring_data = pd.read_csv('Documents/columbia/APAN005/PAC PROJECT/scoring_data.csv')
scoring_data_X = scoring_data

In [95]:
scoring_data.isnull().sum()

customer_id                0
age                        0
gender                     0
marital_status             0
education_level          301
region                     0
employment_status          0
owns_home                  0
has_auto_loan              0
annual_income              0
credit_score               0
credit_limit               0
tenure                     0
card_type                  0
num_transactions           0
avg_transaction_value      0
online_shopping_freq     492
reward_points_balance      0
travel_frequency           0
utility_payment_count    202
num_children               0
num_credit_cards           0
dtype: int64

In [96]:
scoring_data = scoring_data.fillna(0)

In [97]:
scoring_data.isnull().sum()

customer_id              0
age                      0
gender                   0
marital_status           0
education_level          0
region                   0
employment_status        0
owns_home                0
has_auto_loan            0
annual_income            0
credit_score             0
credit_limit             0
tenure                   0
card_type                0
num_transactions         0
avg_transaction_value    0
online_shopping_freq     0
reward_points_balance    0
travel_frequency         0
utility_payment_count    0
num_children             0
num_credit_cards         0
dtype: int64

In [98]:
scoring_data.dtypes

customer_id                int64
age                        int64
gender                    object
marital_status            object
education_level           object
region                    object
employment_status         object
owns_home                  int64
has_auto_loan              int64
annual_income            float64
credit_score             float64
credit_limit             float64
tenure                     int64
card_type                 object
num_transactions           int64
avg_transaction_value    float64
online_shopping_freq     float64
reward_points_balance    float64
travel_frequency           int64
utility_payment_count    float64
num_children               int64
num_credit_cards           int64
dtype: object

In [99]:
scoring_data_X = scoring_data

In [100]:
categorical_features = ['gender','marital_status','education_level','region','employment_status','card_type']

scoring_data_X = pd.get_dummies(scoring_data_X, 
                         prefix_sep = '_', 
                         columns = categorical_features, 
                         drop_first = True)

scoring_data_X.reindex(columns=scoring_data_X.columns, fill_value=0)
scoring_data_X.head()

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,...,education_level_graduate,education_level_high school,region_northeast,region_south,region_west,employment_status_self-employed,employment_status_student,employment_status_unemployed,card_type_platinum,card_type_standard
0,20451981,68,1,0,28736.958529,644.592407,6295.525826,17,6,32.444032,...,False,False,False,False,True,True,False,False,False,True
1,23251656,37,0,1,177014.762457,683.032163,39234.812959,14,17,30.655429,...,False,True,True,False,False,False,True,False,True,False
2,64082260,65,0,0,51625.522861,692.072705,10842.809736,1,9,36.063881,...,False,False,True,False,False,True,False,False,False,True
3,82505923,33,0,1,62667.564975,735.600403,14833.580687,2,12,28.833727,...,False,False,True,False,False,True,False,False,False,False
4,89981994,23,1,0,84996.492293,732.301374,21540.005940,7,15,12.361809,...,False,False,False,False,False,True,False,False,False,False

In [102]:
# Test the model on new unseen data.
scoring_data = pd.read_csv('Documents/columbia/APAN005/PAC PROJECT/scoring_data.csv')
from sklearn.decomposition import PCA
pca = PCA(n_components=29)
pca.fit(scoring_data_X, y)
X_train_pc_2 = pca.transform(scoring_data_X)
X_train_pc

array([[ 2.04078056e+07, -7.26317209e+03, -2.46616726e+03, ...,
         1.56823833e-01,  2.03982647e-02,  4.70531062e-02],
       [ 2.27529296e+07, -2.38491722e+04, -6.90045993e+02, ...,
         1.02812730e-01,  2.34436899e-03,  6.58864464e-02],
       [-2.32036674e+07, -1.16765187e+04,  5.45868300e+02, ...,
         1.52545453e-01,  1.57053731e-02,  6.68878431e-03],
       ...,
       [ 1.57754966e+07, -7.99175464e+03,  3.88006468e+02, ...,
         1.77011111e-01,  1.86255647e-02,  2.78472743e-02],
       [ 3.19780276e+07, -3.79161976e+04, -4.50759480e+02, ...,
         1.70705006e-01,  2.65592858e-02,  6.34746110e-04],
       [-3.37088164e+07,  5.13476027e+04, -2.39831347e+03, ...,
        -2.37368721e-01, -1.39671789e-02, -4.42691112e-03]])

In [103]:
test_pred = reg.predict(X_train_pc_2)

In [104]:
submission_file = pd.DataFrame({'customer_id': scoring_data.customer_id, 'monthly_spend': test_pred})
submission_file.to_csv('submission_file_15.csv',index = False)