In [1]:
import pandas as pd
data = pd.read_csv('Documents/columbia/APAN005/PAC PROJECT/analysis_data.csv')

In [2]:
data.columns

Index(['customer_id', 'age', 'gender', 'marital_status', 'education_level',
       'region', 'employment_status', 'owns_home', 'has_auto_loan',
       'annual_income', 'credit_score', 'credit_limit', 'tenure', 'card_type',
       'num_transactions', 'avg_transaction_value', 'online_shopping_freq',
       'reward_points_balance', 'travel_frequency', 'utility_payment_count',
       'num_children', 'num_credit_cards', 'monthly_spend'],
      dtype='object')

In [3]:
data.describe()

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,online_shopping_freq,reward_points_balance,travel_frequency,utility_payment_count,num_children,num_credit_cards,monthly_spend
count,4.000000e+04,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,37992.000000,40000.000000,40000.000000,39202.000000,40000.000000,40000.00000,40000.000000
mean,5.516258e+07,49.063900,0.502825,0.502925,62466.009961,699.878580,14573.193459,9.514575,11.275000,37.433152,8.111866,7250.912784,2.870675,3.250446,1.109100,7.98765,1666.201508
std,2.595662e+07,18.175343,0.499998,0.499998,49656.884438,50.247404,11791.285872,5.780889,6.038422,20.037322,3.809252,4975.085861,2.258988,2.061360,1.152771,0.19621,537.303898
min,1.000088e+07,18.000000,0.000000,0.000000,2277.888686,470.895415,461.048761,0.000000,0.000000,4.417843,0.000000,571.531405,0.000000,0.000000,0.000000,1.00000,99.080000
25%,3.261957e+07,33.000000,0.000000,0.000000,30478.024000,665.682600,7007.302229,5.000000,7.000000,23.612979,5.000000,4053.616363,1.000000,2.000000,0.000000,8.00000,1309.502500
50%,5.541669e+07,49.000000,1.000000,1.000000,48800.257192,700.208341,11281.194224,10.000000,10.000000,32.983460,8.000000,5894.362787,2.000000,3.000000,1.000000,8.00000,1609.915000
75%,7.758322e+07,65.000000,1.000000,1.000000,78217.444607,733.811768,18282.105567,15.000000,14.000000,46.329229,10.000000,8827.159632,4.000000,4.000000,2.000000,8.00000,1953.395000
max,9.999871e+07,80.000000,1.000000,1.000000,720441.690363,850.000000,191517.788605,19.000000,80.000000,240.927091,45.000000,73100.957960,29.000000,20.000000,6.000000,8.00000,8924.360000

In [4]:
data.dtypes

customer_id                int64
age                        int64
gender                    object
marital_status            object
education_level           object
region                    object
employment_status         object
owns_home                  int64
has_auto_loan              int64
annual_income            float64
credit_score             float64
credit_limit             float64
tenure                     int64
card_type                 object
num_transactions           int64
avg_transaction_value    float64
online_shopping_freq     float64
reward_points_balance    float64
travel_frequency           int64
utility_payment_count    float64
num_children               int64
num_credit_cards           int64
monthly_spend            float64
dtype: object

In [5]:
#Check for NaNs

In [6]:
data.isnull().sum()

customer_id                 0
age                         0
gender                      0
marital_status              0
education_level          1199
region                      0
employment_status           0
owns_home                   0
has_auto_loan               0
annual_income               0
credit_score                0
credit_limit                0
tenure                      0
card_type                   0
num_transactions            0
avg_transaction_value       0
online_shopping_freq     2008
reward_points_balance       0
travel_frequency            0
utility_payment_count     798
num_children                0
num_credit_cards            0
monthly_spend               0
dtype: int64

In [7]:
#Remove NaNs with function below

In [8]:
data = data.fillna(0) # replace NaNs to 0

In [9]:
#Confirm NaNs were replaced to 0

In [10]:
data.isnull().sum()

customer_id              0
age                      0
gender                   0
marital_status           0
education_level          0
region                   0
employment_status        0
owns_home                0
has_auto_loan            0
annual_income            0
credit_score             0
credit_limit             0
tenure                   0
card_type                0
num_transactions         0
avg_transaction_value    0
online_shopping_freq     0
reward_points_balance    0
travel_frequency         0
utility_payment_count    0
num_children             0
num_credit_cards         0
monthly_spend            0
dtype: int64

In [11]:
y = data.monthly_spend
X = data.drop('monthly_spend', axis=1)

In [12]:
categorical_features = ['gender','marital_status','education_level','region','employment_status','card_type']

X = pd.get_dummies(X, 
                         prefix_sep = '_', 
                         columns = categorical_features, 
                         drop_first = True)

X.reindex(columns=X.columns, fill_value=0)
X.head()

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,...,education_level_graduate,education_level_high school,region_northeast,region_south,region_west,employment_status_self-employed,employment_status_student,employment_status_unemployed,card_type_platinum,card_type_standard
0,75570383,77,1,0,56000.116893,636.767610,10530.389617,4,14,46.144967,...,False,True,True,False,False,False,False,True,False,True
1,77915507,52,1,1,39432.589311,739.726869,8509.061360,18,13,88.532219,...,False,True,False,True,False,False,False,True,False,False
2,31958910,48,1,1,51020.949673,650.995903,12462.743330,16,9,78.304445,...,False,False,False,False,True,False,False,True,False,True
3,76868487,67,1,0,76794.566399,612.779395,17750.953577,2,10,54.932667,...,False,True,True,False,False,False,False,True,False,True
4,69435006,21,1,1,44386.444631,714.429605,9861.651561,6,8,18.866712,...,False,False,False,False,True,True,False,False,False,True

In [13]:
X

,customer_id,age,owns_home,has_auto_loan,annual_income,credit_score,credit_limit,tenure,num_transactions,avg_transaction_value,...,education_level_graduate,education_level_high school,region_northeast,region_south,region_west,employment_status_self-employed,employment_status_student,employment_status_unemployed,card_type_platinum,card_type_standard
0,75570383,77,1,0,56000.116893,636.767610,10530.389617,4,14,46.144967,...,False,True,True,False,False,False,False,True,False,True
1,77915507,52,1,1,39432.589311,739.726869,8509.061360,18,13,88.532219,...,False,True,False,True,False,False,False,True,False,False
2,31958910,48,1,1,51020.949673,650.995903,12462.743330,16,9,78.304445,...,False,False,False,False,True,False,False,True,False,True
3,76868487,67,1,0,76794.566399,612.779395,17750.953577,2,10,54.932667,...,False,True,True,False,False,False,False,True,False,True
4,69435006,21,1,1,44386.444631,714.429605,9861.651561,6,8,18.866712,...,False,False,False,False,True,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,61684274,76,1,0,24416.053251,686.500318,5355.597132,7,12,20.020860,...,False,False,True,False,False,False,False,True,False,True
39996,79543996,35,1,0,117569.490084,702.190453,29428.045725,15,18,23.743410,...,False,False,True,False,False,False,True,False,False,False
39997,70938074,70,1,1,54612.784494,640.175292,13145.734964,6,12,71.729568,...,False,True,False,False,True,False,False,True,False,True
39998,87140605,59,1,1,25765.665770,704.778891,5561.762833,14,11,36.541350,...,False,False,False,False,True,False,False,True,False,True
39999,21453761,55,0,1,112745.368483,637.555847,23847.681509,15,15,23.729819,...,False,False,False,False,False,True,False,False,False,True

In [14]:
X.dtypes

customer_id                          int64
age                                  int64
owns_home                            int64
has_auto_loan                        int64
annual_income                      float64
credit_score                       float64
credit_limit                       float64
tenure                               int64
num_transactions                     int64
avg_transaction_value              float64
online_shopping_freq               float64
reward_points_balance              float64
travel_frequency                     int64
utility_payment_count              float64
num_children                         int64
num_credit_cards                     int64
gender_male                           bool
marital_status_single                 bool
education_level_bachelors             bool
education_level_graduate              bool
education_level_high school           bool
region_northeast                      bool
region_south                          bool
region_west                           bool
employment_status_self-employed       bool
employment_status_student             bool
employment_status_unemployed          bool
card_type_platinum                    bool
card_type_standard                    bool
dtype: object

In [15]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X,y)

LinearRegression()

In [16]:
from sklearn.metrics import root_mean_squared_error
train_pred = reg.predict(X)
rmse = root_mean_squared_error(y, train_pred)
rmse

257.5666974691377

In [19]:
# Test the model on new unseen data.
scoring_data = pd.read_csv('Documents/columbia/APAN005/PAC PROJECT/scoring_data.csv')
scoring_data_X = scoring_data
test_pred = reg.predict(scoring_data_X)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- card_type
- education_level
- employment_status
- gender
- marital_status
- ...
Feature names seen at fit time, yet now missing:
- card_type_platinum
- card_type_standard
- education_level_bachelors
- education_level_graduate
- education_level_high school
- ...

In [ ]:
scoring_data.describe()

In [18]:
scoring_data.columns

Index(['customer_id', 'age', 'gender', 'marital_status', 'education_level',
       'region', 'employment_status', 'owns_home', 'has_auto_loan',
       'annual_income', 'credit_score', 'credit_limit', 'tenure', 'card_type',
       'num_transactions', 'avg_transaction_value', 'online_shopping_freq',
       'reward_points_balance', 'travel_frequency', 'utility_payment_count',
       'num_children', 'num_credit_cards'],
      dtype='object')

In [ ]:
test_pred

In [ ]:
submission_file = pd.DataFrame({'customer_id': scoring_data.customer_id, 'monthly_spend': test_pred})
submission_file.to_csv('submission_file_23.csv',index = False)